/* @media (min-width:320px)
@media (min-width:480px) 
@media (min-width:600px) 
@media (min-width:801px) 
@media (min-width:1025px) 
@media (min-width:1281px)  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  box-sizing: border-box;
  font-family: Roboto;
  margin: 1rem;
  padding: 0;
}

ul {
  padding: 0;
  white-space: nowrap;
}

li {
  list-style-type: none;
  position:relative;
  margin-bottom:0.5em;
}

li:before {
  /* content: '•'; */
  display: inline-block;
  position: absolute;
  left: -1em;
  color:#00c7ba;
}

li:nth-child(odd) {
  background: #efefef;
}

.home-container {
  height: 90vh;
}

.web-chat {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.users li {
  padding: 10px;
}

.users p {
  font-style: oblique;
  margin-left: 1rem;
}

#onlineUser {
  background-color: chartreuse;
}

.messages {
  text-align: justify;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.messages span {
  font-weight: 900;
}

#form-send-message {
  margin-top: 0.5rem;
}

@media (max-width:600px) {
  
  ul {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
  }

  li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }

  .web-chat {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 80vh;
  }
  
  aside {
    align-content: center;
    align-items: center;
    border: 0.5px solid rgb(41, 38, 38);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  aside .input-group {
    margin-bottom: 0;
  }

  aside ul {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .users {
    flex: 1;
    width: 100%;
  }

  #userList {
    display: none;
  }

  .messages {
    text-align: justify;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
  }
}

@media (min-width:1025px) {
  aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25rem;
  }
  
  ul {
    height: 100%;
    margin: 0;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* white-space: nowrap; */
  }
  
  
  li {
    list-style-type: none;
    margin-bottom: 0.5rem;
  }
  
  .web-chat {
    height: 80vh;
    display: flex;
    flex-direction: row;
  }
  
  .users {
    border: 1px solid black;
    flex-grow: 1;
  }

  .messages {
    height: 100%;
  }
}


